[Unit]
Description=Lock screen before sleep for user %i
Before=sleep.target

[Service]
User=%i
Type=simple
Environment=DISPLAY=:0
ExecStartPre=/usr/bin/xset dpms force suspend
ExecStart=/usr/bin/betterlockscreen -l
TimeoutSec=infinity

[Install]
WantedBy=sleep.target
