[Unit]
Description=backing up home directory

[Service]
Environment="HOME=/root"
Environment="USER_HOME=/home/jon"
ExecStart=/usr/bin/bash ~/bin/backup-home.sh

[Install]
WantedBy=default.target
