[Unit]
Description=back up home directory to Backblaze B2
Wants=network-online.target
After=network-online.target

[Service]
User=root
EnvironmentFile=/root/bws-access-token-env
Environment="USER_HOME=/home/jon"
ExecStart=/usr/bin/bash /home/jon/bin/backup-backblaze-b2.sh

[Install]
WantedBy=default.target
